// http://chir.ag/projects/name-that-color

// Color names
$black: #000;
$charade: #282a36;
$cod-gray: #181818;
$dark-slate-gray: #2f4f4f;
$dim-gray: #696969;
$gun-powder: #44475a;
$kumera: #917328;
$mako: #414450;
$mine-shaft: #353535;
$oxford-blue: #3C4556;
$white: #fff;

// Roles
$body-bg: $mine-shaft;
